


/*  CSS RULES   */

body {
    font-family: 'Merriweather', serif;
    color: rgb(31, 31, 31);
}

.main_wrapper {
    min-width:320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.header_ribbon {
    width: auto;
    height: auto;
    background-color: rgb(14, 37, 66);
    padding: 5px;
}

.header_ribbon h1 {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;

}

.header_title {
    text-align: center;
    margin: auto;
    font-size: 1.4rem;
    color: rgb(14, 37, 66);
    width: 320px;
    margin-top: 25px;

}

.header_para {
    text-align: center;
    color:rgb(139, 139, 139) ;
    font-size: 1.2rem;

}

.header_line1 {
  
    margin: auto;
    height: 4px;
    background-color: black;
    margin-bottom: 3px;
}

.header_line {
  
    margin: auto;
    height: 2px;
    background-color: black;
}
form {
    margin-bottom: 20px;

}

form label {
    display: block;

}

label {
    margin-bottom: 8px;
    margin-top: 8px;
    color:rgb(139, 139, 139) ;

}

input, select {
    height: 40px;
    width: 96%;
    margin-bottom: 5px;
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 5px;
    text-align: left;
}

input::placeholder {
    text-align: right;
    font-style: italic;
    text-align: right;
    font-size: .65rem;
    margin-right: 20px;
    line-height: normal; 
}


#zip_code {
    width: 50%;

}

fieldset {
    border: none;
    padding: 0px 0px 20px 0px;

}

input:focus, textarea:focus, select:focus  {
    border: solid  3px rgb(131, 131, 131);
    background-color: rgb(173, 173, 173);

  }

input[type="checkbox"] {
    width: auto;
    height: auto;
    display: inline-block;
    margin-right: 20px;
}

input[type="radio"] {
    width: auto;
    height: auto;
    display: inline-block;
    margin-right: 20px;
}
.asdf {
display: inline-block;
}

textarea {

    width: 96%;
    height: 70px;
    border-radius: 6px;
    background-color: rgb(236, 236, 236);
    border: none;

}

footer {
    height: 500px;

}

button {
    display: block;
    margin: 0;
    width: 96%;
    height: 60px;
    font-size: 1rem;
    font-weight: 700;
    background-color: cadetblue;
    border: none;
    border-radius: 6px;
    color: #fff;

}

h5 {
    text-align: center;
    font-style: italic;
    color:rgb(139, 139, 139) ;

}

@media screen and (min-width: 768px) {
    .main_wrapper {
        max-width:768px;
        width: 100%;
    }

    #zip_code {
        width: 25%;
    
    }

}